{
  "active": "{{ nexus_ce_encryption_key_id }}",
  "keys": [
{% for key in nexus_ce_encryption_keys %}
    {
      "id": "{{ key.id }}",
      "key": "{{ key.key }}"
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ]
}